<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smartfinancein.smartfinance.fibonacci">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.telephony" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9031633523121800~4683080348" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:parentActivityName=".MainActivity"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ebook"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".profile"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".webinar"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".paidCourse"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".paidBook"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".freeApp"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".paidSoftware"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".video"
            android:parentActivityName=".MainActivity"/>

        <activity android:name="org.achartengine.GraphicalActivity" />

    </application>

</manifest>